$size : (
    //font, element, navbar, view
    sm (14px, 30px, 38px, 576px),
    md (18px, 38px, 50px, 768px),
    lg (22px, 46px, 58px, 992px)
);

$elementboxshadow : 0px 1px 3px -1px rgba(0,0,0,1);
$cardboxshadow : 0px 1px 3px -1px rgba(0,0,0,0.3);

$materialcolor : (
    //color-name, color-normal, color-hover, color-active
    mwhite          (#ffffff,#EEEEEE,#E0E0E0),
    mdark           (#424242,#212121,black),
    mred            (#f44336,#E53935,#D32F2F),
    mpink           (#e91e63,#D81B60,#C2185B),
    mpurple         (#9c27b0,#8E24AA,#7B1FA2),
    mdeep-purple    (#673AB7,#5E35B1,#512DA8),
    mindigo         (#3F51B5,#3949AB,#303F9F),
    mblue           (#2196F3,#1E88E5,#1976D2),
    mlight-blue     (#03A9F4,#039BE5,#0288D1),
    mcyan           (#00BCD4,#00ACC1,#0097A7),
    mteal           (#009688,#00897B,#00796B),
    mgreen          (#4CAF50,#43A047,#388E3C),
    mlight-green    (#8BC34A,#7CB342,#689F38),
    mlime           (#CDDC39,#C0CA33,#AFB42B),
    myellow         (#FFEB3B,#FDD835,#FBC02D),
    mamber          (#FFC107,#FFB300,#FFA000),
    morange         (#FF9800,#FB8C00,#F57C00),
    mdeep-orange    (#FF5722,#F4511E,#E64A19),
    mbrown          (#795548,#6D4C41,#5D4037),
    mgrey           (#9E9E9E,#757575,#616161),
    mblue-grey      (#607D8B,#546E7A,#455A64)
);