@mixin boxsizing($val) //Chrome 10 | 4, IE 8, Mozilla 29 | 2, Safari 5.1 | 3.2, Opera 9.5
{
    -webkit-box-sizing: $val;
       -moz-box-sizing: $val;
            box-sizing: $val;
}
@mixin boxshadow($val) //Chrome 10 | 4, IE 9, Mozilla 4 | 3.5, Safari 5.1 | 3.1, Opera 10.5
{
    -webkit-box-shadow: $val;
       -moz-box-shadow: $val;
            box-shadow: $val;
}
@mixin borderradius($val) //Chrome 5 | 4, IE 9, Mozilla 4 | 3, Safari 5 | 3.1, Opera 10.5
{
    -webkit-border-radius: $val;
       -moz-border-radius: $val;
            border-radius: $val;
}
@mixin flexdirection($val) //Chrome 29 | 21, IE 11, Mozilla 28 | 18, Safari 9 | 6.1, Opera 17
{
    -webkit-flex-direction: $val;
       -moz-flex-direction: $val;
            flex-direction: $val;
}

@mixin multiclassnumbered($length, $classname){
    $loop : '';
    @for $i from 1 through $length {
        $loop : $loop + '.' + $classname + '-' + $i + ',';
    }
    #{$loop}
    {
        @content;
    }
}

@mixin multiclassnumberedarray($length, $classname){//advanced function for multi class numbered
    $loop : '';
    @each $classname in $classname
    {
        @for $i from 1 through $length
        {
            $loop : $loop + '.' + unquote(nth($classname, 1 )) + '-' + $i + ',';
        }
    }
    #{$loop}
    {
        @content;
    }
}
@mixin multitagnumbered($length, $tagname){
    $loop : '';
    @for $i from 1 through $length {
        $loop : $loop + $tagname + $i + ',';
    }
    #{$loop} {
        @content;
    }
}

@mixin userselect($val)
{
    -webkit-user-select: $val;
       -moz-user-select: $val;
        -ms-user-select: $val;
            user-select: $val;
}

@mixin wordwrap($val)
{
    -ms-word-wrap: $val;
        word-wrap: $val;
}