@import "../config";
@import "../function";

$paddingcontainer : 0;
$smallimportant : "!important";
@each $s in $size
{
    $nsize  : nth($s, 1);
    $nval   : nth($s, 2);

    @media (max-width: nth($nval, 4))
    {
        .container{
            padding:2px (20 + 20 * $paddingcontainer)+px unquote($string: $smallimportant);
        }
        .container-fluid{
            padding:2px (10 + 10 * $paddingcontainer)+px unquote($string: $smallimportant);
        }
        /*component - navigation*/
        .nav-g-#{$nsize} .navbar{
            display: block;
        }
        .nav-g-#{$nsize} .right{
            float: none;
        }
        .nav-g-#{$nsize} .nav-item{
            display: block;
            border: 0;
        }
        .nav-g-#{$nsize} .navnav li{
            float:none;
            display:block;
            padding: 0 nth($nval, 1);
        }
        /* style - grid */
        @include multiclassnumbered (12, 'g-'+$nsize)
        {
            display: block;
            width: 100%;
        }
        $paddingcontainer : $paddingcontainer + 1.5;
        $smallimportant : null;
    }
}