@import "../config";

.breadcrumb
{
    background: #fafafa
}
@each $b in $size
{
    $nsize  : nth($b, 1);
    $nval   : nth($b, 2);

    .breadcrumb.breadcrumb-#{$nsize}{
        list-style:none;
        padding: 0 (nth($nval, 1)*1.5);
        font-size:nth($nval, 1);
        line-height: nth($nval, 2);
    }    
    .breadcrumb.breadcrumb-#{$nsize} li:after{
        content:"/";
        font-weight:bold;
        padding: nth($nval, 1);
    }
}
.breadcrumb li{
    display:inline-block;
}
.breadcrumb > li > a{
    text-decoration: none;
}
.breadcrumb li:last-child:after{
    content:"";
}
.breadcrumb li:after,
.breadcrumb li:last-child a{
    color:rgba(0,0,0,.38);
    text-decoration: none;
}