@import "../config";
@import "../function";

/*global button*/
.btn{
    @include boxshadow($elementboxshadow);
    @include userselect(none);
    display: inline-block;
    cursor: pointer;
    border:0;
}
/*button effect*/
.btn:focus{
    outline: none !important;
}
.btn:active{
    @include boxshadow(0px 2px 6px -1px rgba(0,0,0,1));
}

/*button size*/
@each $btnsize in $size
{
    $sizeval : nth($btnsize, 2);
    .btn-#{nth($btnsize, 1)}
    {
        height: nth($sizeval, 2);
        padding: 0 nth($sizeval, 2) * .6;
        font-size: inherit;
        line-height: nth($sizeval, 2);
    }
}
/*button group*/
.btn-group .btn{
    margin:0;
}
/*button style*/
.btn-blunt{
    @include borderradius(5px);
}
.btn-rounded{
    @include borderradius(20px);
}
/*button group with style*/
.btn-group.btn-blunt .btn:first-child{
    @include borderradius(5px 0 0 5px);
}
.btn-group.btn-blunt .btn:last-child{
    @include borderradius(0 5px 5px 0);
}
.btn-group.btn-rounded .btn:first-child{
    @include borderradius(20px 0 0 20px);
}
.btn-group.btn-rounded .btn:last-child{
    @include borderradius(0 20px 20px 0);
}

@each $btn in $materialcolor
{
    $name   : nth($btn, 1);
    $name   : str-slice($name, 2); //ex mwhite -> white
    $color  : nth($btn, 2);
    .btn.bg-#{$name}:hover
    {
        background: nth($color, 2);
    }
    .btn.bg-#{$name}:active
    {
        background: nth($color, 3);
    }
}