@import "../config";
@import "../function";

.form-wrap{
    padding: 0.4rem;
}
label.form{
    font-weight: bold;
}
input[type='text'].form,
select.form,
textarea.form{
    @include borderradius(4px);
    border: 1px solid #d1d1d1;
    box-shadow: none;
    padding: 0.5rem;
}
@each $input in $size
{
    $nsize  : nth($input, 1);
    $nval   : nth($input, 2);
    .form-#{nth($nsize, 1)},
    .form.form-#{$nsize} input[type='text'],
    .form.form-#{$nsize} select
    {
        height: nth($nval, 2);
        font-size: nth($nval, 1);
    }
    .form-#{nth($nsize, 1)} textarea{
        height: nth($nval, 2) * 4;
    }
    input[type='radio'].form,
    input[type='checkbox'].form{
        position: relative;
        margin-right:nth($nval, 1)*0.4;
    }
}