@import "../config";
@import "../function";

/*navbar*/
.nav{
    @include boxshadow($elementboxshadow);
    display: inline-table;
    position: relative;
    width: 100%;
    clear: both;
}
.navbar{
    list-style:none;
    padding: 0;
    margin: 0;
}
/*sidebar*/
.sidebar .navbar{
    display: block;
}
.sidebar .right{
    float: none;
}
.sidebar .nav-item{
    display: block;
    border: 0;
}
$n : 0;
@each $c in $size
{
    $nsize : nth($c, 1);//sm, md, lg
    $val  : nth($c, 2);

    .nav-#{$nsize}{
        line-height: nth($val, 3);
        height: nth($val, 3);
        padding: 0 nth($val, 2) * .2;
    }
    .nav-#{$nsize} .brand
    {
        display: inline-block;
        font-size: nth($val, 1);
        font-weight: bold;
        padding-right: nth($val, 1);
    }
    .nav-#{$nsize} .nav-brand-img
    {
        vertical-align: middle;
        margin: 0 nth($val, 1) * .4;
        $valimg : nth($val, 1) * 1.5;
        width: $valimg;
        height: $valimg;
    }
    .nav-#{$nsize} .btn{
        margin: auto nth($val, 1)/2;
    }
    .nav-#{$nsize} .navnav li{
        padding: 0 nth($val, 1);
        cursor: pointer;
        float: left;
    }
    .nav-#{$nsize} .navnav li:hover
    {
        background: rgba(255,255,255, 0.2);
    }
    .nav-g-#{$nsize} .navbar
    {
        display: inline-flex;
    }
    .nav-#{$nsize} .nav-link,
    .nav-#{$nsize} .nav-link a
    {
        font-size: inherit;
        text-decoration: none;
    }
    /* sidebar */
    .sidebar.nav-#{$nsize} .navnav li{
        float:none;
        display:block;
        padding: 0 nth($val, 1)/2;
    }
    $n : $n + 1;
}