@import "../config";

.table{
    border-collapse: collapse;
}
/*table size*/
@each $tsize in $size
{
    @if(nth($tsize, 1) == "sm" or nth($tsize, 1) == "md")
    {
        $sizeval : nth($tsize, 2);
        .table.table-#{nth($tsize, 1)}
        {
            font-size: nth($sizeval, 1);
            line-height: nth($sizeval, 2);
        }
        .table.table-#{nth($tsize, 1)} th,
        .table.table-#{nth($tsize, 1)} td
        {
            padding: 0 nth($sizeval, 1);
        }
    }
}
.table thead th{
    border-bottom: 2px solid #EEEEEE;
}
.table.row-border th,
.table.row-border td{
    border-top:1px solid #EEEEEE;
}
.table.full-border th{
    border-top:1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.table.full-border th:first-child{
    border-left: 1px solid #EEEEEE;
}
.table.full-border td{
    border: 1px solid #EEEEEE;
}